.hidden {
  display: none;
}

.gutter-left, .gutter-right {
  display: none;
}

.single {
  display: grid;
}

.double {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.repoList, .issueList {
  display: grid;
}

.issueList img {
  width: 40px;
  height: 40px;
}

.issueList p {
  color: white;
  margin: 0 auto;
}

.repo {
  margin-top: 12px;
}

.issue{
  display: grid;
  border: 3px solid #7FB3D5;
  margin-top: 12px;
}

.issue p {
  color: white;
  margin: 0 auto;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #7FB3D5;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
  background-color: black;
}

@media only screen and (max-width : 480px) {
/* Styles */

  .single .gutter-left, .single .gutter-right {
    display: none;
  }
  .double {
    display: grid;
    grid-template-columns: 35px auto
  }

  .double .repoList {
    display: none;
  }

  .double .gutter-left, .reverse-double .gutter-right {
    display: inline-block;
    height: 100%;
    width: 35px;
    background-color: #7FB3D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .double .gutter-left p, .reverse-double .gutter-right p {
    color: white;
  }

  .reverse-double {
    display: grid;
    grid-template-columns: auto 35px
  }

  .reverse-double .gutter-left {
    display: none
  }

  .reverse-double .issueList {
    display: none;
  }

}

